svg {
  height: auto;
  width: 30%;
}

#top-crust-wrapper {
  animation: bake-pie-crust-size2 10s 0s infinite;
}

.pie-crust, #top-crust-wrapper{
  transform-origin: center center;
}

.pie-crust.top {
  animation: bake-pie-crust-color 10s 0s infinite;
}

.pie-crust.bottom {
  animation: bake-pie-crust-size1 10s 0s infinite, bake-pie-crust-color 10s 0s infinite;
}

@keyframes bake-pie-crust-color {
  0% {fill: #f8edc4;}
  50% {fill: #F2DC8E;}
  80% {fill: #edd168;}
  100% {fill: #debd45;}
}

@keyframes bake-pie-crust-size1 {
  0% {transform: scale(.97);}
  100% {transform: scale(1);}
}

@keyframes bake-pie-crust-size2 {
  0% {transform: scale(.8, .6);}
  50% {transform: scale(.9, .9);}
  100% {transform: scale(1, 1);}
}

.pie-slit.first {
  stroke-width: 4px;
  animation: bake-pie-slit 10s 0s infinite, widen-slit1 10s 0s infinite;
}

.pie-slit.second {
  stroke-width: 6px;
  animation: bake-pie-slit 10s 0s infinite, widen-slit2 10s 0s infinite;
}

@keyframes bake-pie-slit {
  0% {stroke: #f8edc4;}
  50% {stroke: #ae567b;}
  80% {stroke: #805064;}
  100% {stroke: #5b434d;}
}

@keyframes widen-slit1 {
  0% {stroke-width: 0;}
  50% {stroke-width 1px;}
  100% {stroke-width: 4px;}
}

@keyframes widen-slit2 {
  0% {stroke-width: 0;}
  50% {stroke-width 1px;}
  100% {stroke-width: 6px;}
}
